:root {
    /* PRIMARY */
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    /* NEUTRAL */
    --light-grayish-cyan-bg: hsl(180, 52%, 96%); /* BG */
    --light-grayish-cyan: hsl(180, 31%, 95%); /* Filter Tablets */
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}
.page-wrapper {
    font-family: 'League Spartan', sans-serif;
    background-color: var(--light-grayish-cyan-bg);
    gap: 40px;
}
.container {
    width: 50%;
    /*border: 1px solid red;*/
}
header.container {
    width: 80%;
    height: 10vh;
    background-color: var(--desaturated-dark-cyan);
    background-image: url("/static-job-listings-master/images/bg-header-desktop.svg");
    background-size: cover;
}
.listing, .tag-selection {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 25%);
}
.company-name {
    color: var(--desaturated-dark-cyan);
    font-size: 14px;
    margin-right: 5px;
}
.job-position:hover {
    color: var(--desaturated-dark-cyan);
}
.job-position {
    font-size: 18px;
    cursor: pointer;
}
.time-since-listing, .part-or-full, .job-location {
    font-size: 14px;
    color: var(--dark-grayish-cyan)
}
.new-tag, .featured-tag {
    border-radius: 9999px;
    color: var(--light-grayish-cyan);
    font-size: 12px;
    padding: 3px 6px;
    text-transform: uppercase;
    font-weight: 700;
}
.new-tag {
    background-color: var(--desaturated-dark-cyan);
}
.featured-tag {
    background-color: #000;
}
.info-top-row {
    gap: 5px;
}
.listing-info {
    gap: 5px;
}
.listing-tag, .filter-option {
    border-radius: 5px;
    background-color: var(--light-grayish-cyan);
    color: var(--desaturated-dark-cyan);
    padding: 3px 6px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.listing-tag:hover, .filter-option:hover {
    background-color: var(--desaturated-dark-cyan);
    color: var(--light-grayish-cyan);
}

.listing.featured {
    border-left: 5px solid var(--desaturated-dark-cyan);
}
.tag-selection {
    position: absolute;
    top: 7vh;
    display: none;
}

.filter-options-row {
    overflow: scroll;
    gap: 45px;
}
.filter-options-row .filter-option:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--desaturated-dark-cyan);
}
.filter-options-row .filter-option {
    cursor: unset;
}
.close:hover {
    background-color: var(--very-dark-grayish-cyan);
    color: var(--light-grayish-cyan);
}
.filter-col {
    overflow: hidden;
}
.filter-option {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}
.close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    background-color: var(--desaturated-dark-cyan);
    color: #fff;
    border-radius: 0 5px 5px 0;
    right: -30px;
    top: 0;
    cursor: pointer;
}
#clear {
    background-color: unset;
    color: var(--desaturated-dark-cyan);
    border: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
#clear:hover {
    text-decoration: underline;
}



.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}